@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #FED2FB;
	font-family: 'Rokkitt', serif;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: hidden;
}


/* body {
	background-color: #FED2FB;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Rokkitt', serif;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: hidden;
} */

header {
	width: 100%;
	color: white;
	margin-top: 4vh;
	margin-bottom: 10vh;
}

header ul {
	display: flex;
	justify-content: flex-end;
	padding-right: 1vw;
	list-style: none;
}

header ul li {
	margin-right: 2vw;
}

header ul li.active a {
	text-decoration: underline;
}

header ul li a {
	color: white;
	text-decoration: none;
	font-size: 2vw;
	font-weight: bold;
}


.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.05);
	display: none;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(5px);
}

.modal-content {
	max-width: 400px;
	width: auto;
	height: auto;
	background: white;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	overflow: auto;
}

.modal-content ul {
	margin-right: 24px;
	margin-left: 20px;

}

.modal-image {
	width: 100%;
	height: auto;
}

.modal-image {
	width: 100%;
	height: auto;
}

.container {
	width: 90%;
	margin: auto;
}

.image-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20vh;
}

.img-wrap {
	position: relative;
	flex-basis: 100%;
	margin: 10px;
}

.img-wrap img {
	width: 100%;
	position: relative;
	margin-bottom: 10vh;
}

.img-wrap img:first-child {
	width: 100%;
	position: absolute;
	top: -5%;
	left: -5%;
	z-index: -1;
}

.img-wrap:hover img {
	transform: none;
}

.img-wrap:hover img:nth-child(2) {
	transform: translate(-5%, -5%);
}


@media (min-width: 1024px) {
	header ul li a {
		font-size: 32px;
	}
}

/* Larger screen adjustment */
@media (min-width: 769px) {
	.image-container {
		justify-content: center;
	}

	.img-wrap {
		flex-basis: calc(26.66% - 20px);
		margin: 10px 1%;
	}

	.modal-content {
		width: 60%;
	}

	.container {
		width: 80%;
	}
}